**Funciones**
![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [ ]:
# definir la funcion

def suma(a, b):
  resultado = a + b
  return resultado

In [ ]:
numero1 = 10
numero2 = 20

# aca como estamos en collab, va a imprimir 30 ---> que es el valor de resultado de devuleve la funcion suma
suma(numero1, numero2)

30

In [ ]:
numero3 = 40
numero4 = 50

resultado = suma(numero3, numero4)
print(f"el resultado es {resultado}")

el resultado es 90

In [ ]:
# funcion saludar

def saludar(nombre):
  print(f'Hola {nombre}')

# pregunta: que retorna esta funcion saludar?
# A: nada
# B: un string
# C: ninguna de las anteriores

# la respuesta correcta es ninguna de las anteriores
# las funciones en python por default retornan None

In [ ]:
resultado = saludar('Juan')
print(f"la funcion saludar retorna: {resultado}")

Hola Juan
la funcion saludar retorna: None

Variables globales y locales

In [ ]:
# global
numero = 10

def multiplicar(a, b):
  resultado = a * b

  resultado *= numero
  print("numero: ", numero)
  return resultado

In [ ]:
numero

10

In [ ]:
result = multiplicar(5,2)
result

numero:  10

100

In [ ]:
# global
numero = 10

def multiplicar(a, b):
  # esta variable numero es local
  numero = 5

  resultado = a * b
  resultado *= numero
  print("numero: ", numero)
  return resultado

In [ ]:
numero

10

In [ ]:
result = multiplicar(5,2)
result

numero:  5

50

In [ ]:
numero

10

In [ ]:
# global
numero = 10

def multiplicar(a, b):
  global numero

  resultado = a * b
  resultado *= numero
  print("numero: ", numero)
  return resultado

In [ ]:
numero

10

In [ ]:
result = multiplicar(5,2)
result

numero:  10

100

In [ ]:
numero

10

In [ ]:
# global
numero = 10

def multiplicar(a, b):
  global numero

  numero = 5
  resultado = a * b
  resultado *= numero
  print("numero: ", numero)
  return resultado

In [ ]:
numero

10

In [ ]:
result = multiplicar(5,2)
result

numero:  5

50

In [ ]:
numero

5

Argumentos y Parámetros

En la definicion de la funcion, las variables o valores se denominan parametros

In [ ]:
def suma(a,b):
  return a+b

en la llamada se denominan argumentos

In [ ]:
suma(4,7)

Pasando valores

Por posición

In [ ]:
def suma(numero1, numero2):
  resultado = numero1 + numero2
  return resultado

In [ ]:
# 6 --> numero1   7 --> numero2
suma(6,7)

13

In [ ]:
num1 = 9
num2 = 10

# num1 ---> numero1   num2 ---> numero2
suma(num1, num2)

19

In [ ]:
# aca faltan agregar los argumentos
suma()

TypeError: suma() missing 2 required positional arguments: 'numero1' and 'numero2'

Argumentos por nombre

In [ ]:
def suma(numero1, numero2):
  resultado = numero1 + numero2
  return resultado

In [ ]:
suma(numero2=6, numero1=7)

13

In [ ]:
suma(numero1=6, numero2=7)

13

In [ ]:
num1 =10
num2 = 11

suma(numero1=num1, numero2=num2)

21

Llamada sin argumentos

In [ ]:
def suma(numero1=0, numero2=0):
  resultado = numero1 + numero2
  return resultado

In [ ]:
suma()

0

In [ ]:
suma(numero2=5)

5

In [ ]:
suma(10,5)

15

Parametros opcionales y obligatorios

In [ ]:
def operacion(numero1, numero2, operacion="+"):

  if operacion == "+":
    resultado = numero1 + numero2
  elif operacion == "-":
    resultado = numero1 - numero2
  elif operacion == "*":
    resultado = numero1 * numero2

  return resultado

In [ ]:
operacion(5,8)

13

In [ ]:
operacion(10,5,"-")

5

In [ ]:
operacion(5,8,"+")

13

Multiples return

In [ ]:

def calculadora(numero1, numero2, operacion):

  if operacion == "+":
    resultado = numero1 + numero2
    return resultado

  if operacion == "-":
    resultado = numero1 - numero2
    return resultado

  if operacion == "*":
    resultado = numero1 * numero2
    return resultado

  return None

Argumentos por valor y por referencia

Argumentos por valor (variables inmutables)

* enteros
* flotantes
* string
* tuplas

In [ ]:
def incrementador(numero):
  numero += 1
  print("numero dentro de la funcion: ", numero)
  return

In [ ]:
numero = 5
print("numero antes de la funcion: ", numero)
incrementador(numero)
print("numero despues de la funcion: ", numero)

numero antes de la funcion:  5
numero dentro de la funcion:  6
numero despues de la funcion:  5

In [ ]:
# si yo quisiera ver la modificacion afuera de la funcion, retorno la variable
def incrementador(numero):
  numero += 1
  print("numero dentro de la funcion: ", numero)
  return numero

In [ ]:
print("numero ante de la funcion: ", numero)
numero = incrementador(numero)
print("numero despues de la funcion: ", numero)

numero ante de la funcion:  5
numero dentro de la funcion:  6
numero despues de la funcion:  6

Referencia (variables mutables)

* listas
* diccionarios

In [ ]:
def agregar(lista, objeto):
  lista.append(objeto)
  print("lista dentro de la funcion: ", lista)
  return

In [ ]:
lista = [1, 2, 3]

print("lista antes de la funcion: ", lista)
agregar(lista, 4)
print("lista despues de la funcion: ", lista)

lista antes de la funcion:  [1, 2, 3]
lista dentro de la funcion:  [1, 2, 3, 4]
lista despues de la funcion:  [1, 2, 3, 4]

In [ ]:
# si yo no quiero que se modifique la lista original o que le paso como argumento
def agregar(lista, objeto):
  new_lista = lista.copy()
  new_lista.append(objeto)
  print("lista dentro de la funcion: ", new_lista)
  return

In [ ]:
lista = [1, 2, 3]

print("lista antes de la funcion: ", lista)
agregar(lista, 4)
print("lista despues de la funcion: ", lista)

lista antes de la funcion:  [1, 2, 3]
lista dentro de la funcion:  [1, 2, 3, 4]
lista despues de la funcion:  [1, 2, 3]

Argumentos indeterminados

In [ ]:
# suma dos numeros
def suma(num1, num2):
  return num1 + num2

In [ ]:
# suma tres numeros
def suma(num1, num2, num3):
  return num1 + num2 + num3

In [ ]:
# suma cuatro numeros
def suma(num1, num2, num3, num4):
  return num1 + num2 + num3 + num4

*args

Permite definir funciones cuyo numero de argumentos es variable. Es decir podemos definir funciones genericas que no aceptan un numero determinado de parametros.

In [ ]:
def suma(*args):

  resultado = 0

  for arg in args:
    resultado += arg

  return resultado

In [ ]:
suma(6,7,8,9)

30

In [ ]:
suma(1)

1

In [ ]:
suma(7,8,9,34,67,12,56,78)

271

**kwargs

Los *kwargs nos permiten dar un nombre a cada argumento de entrada, pudiendo acceder a ellos dentro de la funcion a traves de un diccionario

In [ ]:
def suma(**kwargs):

  resultado = 0

  for clave, valor in kwargs.items():
    print(f"clave: {clave}  --- valor: {valor}")
    resultado += valor

  return resultado

In [ ]:
suma(numero1=5, numero2=15)

clave: numero1  --- valor: 5
clave: numero2  --- valor: 15

20

In [ ]:
# hacer la funcion operacion(**kwargs)

# operacion(numero1, numero2, operacion=)


def operacion(**kwargs):
  """
  numero1 numero2 operacion
  """
  print(kwargs)
  operacion = kwargs.get("operacion", "")
  numero1 = kwargs.get("numero1", 0)
  numero2 = kwargs.get("numero2", 0)

  if operacion == "+":
    resultado = numero1 + numero2
    return resultado

  if operacion == "-":
    resultado = numero1 - numero2
    return resultado

  if operacion == "*":
    resultado = numero1 * numero2
    return resultado

  return None

In [ ]:
operacion(numero1=7,numero2=8,operacion="-", numero3 = 8)

{'numero1': 7, 'numero2': 8, 'operacion': '-', 'numero3': 8}

-1

Recursivas

** Agregar explicacion **

In [ ]:
# Funcion recursiva

# factorial(1)  (1!) = 1
# factorial(2)  (2!) = 2 * 1
# factorial(3)  (3!) = 3 * 2 * 1  ---> 3 * factorial(2)
# factorial(4)  (4!) = 4 * 3 * 2 * 1   ---->   4 * factorial(3)
# factorial(5)  (5!) = 5 * 4 * 3 * 2 * 1   --->  5 * factorial(4)

# 5! = 5 * factorial(5-1)  = 5 * factorial(4) = 5 * 4 * 3 * 2 * 1
# x! = x * factorial(x-1)
# factorial(x-1) = (x-1)! = (x-1) factorial(x-1-1)


def factorial(numero):
      print(f"numero en factorial: ", numero)
      if numero == 1:
        return 1

      numero = numero * factorial(numero-1)

      return numero

In [ ]:
factorial(1)

1

In [ ]:
factorial(2)

2

In [ ]:
factorial(3)

6

In [ ]:
factorial(4)

24

In [ ]:
factorial(5)

numero en factorial:  5
numero en factorial:  4
numero en factorial:  3
numero en factorial:  2
numero en factorial:  1

120

Otro ejemplo

In [ ]:
def invertir_cadena(cadena):
    if len(cadena) == 0:  # Caso base
        return cadena

    return cadena[-1] + invertir_cadena(cadena[:-1])  # Llamada recursiva

In [ ]:
invertir_cadena("hola")

'aloh'

In [ ]:
"hola"[-1]

'a'

In [ ]:
"hola"[:-1]

'hol'

In [ ]:
"hol"[-1]

'l'

In [ ]:
"hol"[:-1]

'ho'

In [ ]:
"ho"[-1]

'o'

In [ ]:
"ho"[:-1]

'h'

In [ ]:
"h"[-1]

'h'

In [ ]:
"h"[:-1]

''

In [1]:
def multiplicar(a, b):

  return a * b


def restar(a,b):

  resultado = a + b - multiplicar(a,b)

  return resultado

In [2]:
a = 5
b = 5

restar(a,b)

-15

Ejemplo con argumentos variables (**kwargs)

In [14]:
# datos de un alumno

def actualizar_alumno(alumno, **kwargs):

  print("alumno: ", alumno)
  print("argumentos: ", kwargs)

  for clave, valor in kwargs.items():
    alumno[clave] = valor

  return alumno

In [16]:
def update_alumno(alumno, **kwargs):

  print("alumno: ", alumno)
  print("argumentos: ", kwargs)

  alumno.update(kwargs)

  return alumno

In [18]:
alumno = {
    "nombre": "Pablo",
    "apellido": "Perez"
}

actualizar_alumno(alumno, edad=25, curso="Python", nombre="Juan")
update_alumno(alumno, altura=1.89, apellido="Lopez")

# alumno = {
#   "nombre": "Pablo",
#   "apellido": "Perez"
#   "edad": 45,
#    "curso" : "python"
# }

alumno:  {'nombre': 'Pablo', 'apellido': 'Perez'}
argumentos:  {'edad': 25, 'curso': 'Python', 'nombre': 'Juan'}
alumno:  {'nombre': 'Juan', 'apellido': 'Perez', 'edad': 25, 'curso': 'Python'}
argumentos:  {'altura': 1.89, 'apellido': 'Lopez'}

{'nombre': 'Juan',
 'apellido': 'Lopez',
 'edad': 25,
 'curso': 'Python',
 'altura': 1.89}

mesh

In [20]:
diccionario1 = {"a": 1, "b": 2}
diccionario2 = {"c": 3, "d": 4}

dic_new = {**diccionario1, **diccionario2}
dic_new

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [22]:
def mesh_alumno(alumno, **kwargs):
  alumno = {**alumno, **kwargs}
  return alumno

In [23]:
alumno

{'nombre': 'Juan',
 'apellido': 'Lopez',
 'edad': 25,
 'curso': 'Python',
 'altura': 1.89}

In [25]:
mesh_alumno(alumno, peso=56.9)

{'nombre': 'Juan',
 'apellido': 'Lopez',
 'edad': 25,
 'curso': 'Python',
 'altura': 1.89,
 'peso': 56.9}

In [21]:
# definicion de la funcion
def listar(*args):
  print("args: ", args)

  for arg in args:
    print(arg)

  return

# llamadas a la funcion
listar(34,78,12,"45", 78.8)
listar(34,78,12,45, 78.8)

args:  (34, 78, 12, '45', 78.8)
34
78
12
45
78.8
args:  (34, 78, 12, 45, 78.8)
34
78
12
45
78.8

In [10]:
# puede cambiar el args, pero no es comun encontrarlo asi
def listar(*pepe):
  print("args: ", pepe)

  for arg in pepe:
    print(arg)

  return


listar(34,78,12,"45", 78.8)

args:  (34, 78, 12, '45', 78.8)
34
78
12
45
78.8

Docstrings

In [26]:
len([0, 4, 6])

3

In [27]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [30]:
def nueva_sumar(a, b):
  """
  Esta funcion suma dos numeros enteros

  a: entero
  b: entero

  Retorna la suma de a + b
  """

  return a + b

In [31]:
help(nueva_sumar)

Help on function nueva_sumar in module __main__:

nueva_sumar(a, b)
    Esta funcion suma dos numeros enteros

    a: entero
    b: entero

    Retorna la suma de a + b

In [ ]:
nueva_sumar(5,6)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Typehints

* disponible en python desde la version 3.5
* no es obligatorio usarlo
* especificar los tipos de datos de los argumentos de las funciones
* especificar el tipo de dato que retorna una funcion
* chequeo estatico -- no en runtime

In [ ]:
def suma(numero1, numero2):
  resultado = numero1 + numero2
  return resultado

In [ ]:
c = "a" + "s"
c

'as'

In [ ]:
[1,2] + [3,5]

[1, 2, 3, 5]

In [ ]:
def suma_enteros(numero1: int, numero2: int)-> int:
  resultado = numero1 + numero2
  return resultado

In [ ]:
# error chequeo estatico
lista1 = []
lista2 = []

suma_enteros(lista1, lista2)

In [ ]:
suma_enteros("e", "r")

'er'

In [ ]:
suma_enteros("5", 5)

Repaso y continuación de typehints

* disponible en python desde la version 3.5
* no es obligatorio usarlo    ----> a partir de ahora vamos a usarlo!!!
* especificar los tipos de datos de los argumentos de las funciones
* especificar el tipo de dato que retorna una funcion
* chequeo estatico -- no en runtime

In [ ]:
# sin typehints
def restar(a, b):
  return a -b

In [33]:
# especificar los tipos de datos de los argumantos
def restar(a: int, b: int):
  return a -b

In [37]:
# especificar los tipos de datos de los argumantos y lo que retorna
def restar(a: int, b: int)-> int:
  return a - b

In [35]:
restar(10, 5)

5

In [36]:
restar(45.78, 45.9)

-0.11999999999999744

In [38]:
def sumar(a: int, b: int)-> int:
  return a + b

In [39]:
[0,3] + [6,8]

[0, 3, 6, 8]

In [40]:
"a" + "b"

'ab'

In [42]:
valor1 = 1
valor2 = 6

sumar(valor1, valor2)

7

In [43]:
valor1 = [0, 6, 7]
valor2 = [8, 9, 10]

sumar(valor1, valor2)

[0, 6, 7, 8, 9, 10]

In [44]:
valor1 = "a"
valor2 = "b"

sumar(valor1, valor2)

'ab'

Ejemplo de typehints

In [46]:
def factorial(numero: int)-> int:

  if numero == 1:
    return 1

  resultado = numero * factorial(numero -1)

  return resultado

In [47]:
def saludar(nombre):
  return f"Hola {nombre}"

In [48]:
saludar("Juan")

'Hola Juan'

In [50]:
def saludar(nombre: str)-> str:
  return f"Hola {nombre}"

In [49]:
def actualizar_alumno(alumno: dict, clave_valor: dict)-> dict:
  alumno = {**alumno, **clave_valor}
  return alumno

In [52]:
def agregar(lista: list, objeto: int)-> None:
  lista.append(objeto)
  return

In [53]:
lista = [0, 6, 7, 8]

agregar(lista, 9)
lista

[0, 6, 7, 8, 9]

In [ ]:
# Hacer una funcion calc con suma o division
# calc(numero1, numero2, op)
# si op = 1 --> suma  op = 0 divide
# retornar el resultado

In [54]:
def calc(numero1, numero2, op):
    resultado = None

    if op == 1:
      resultado = numero1 + numero2
    elif op == 0:
      resutado = numero2 / numero1

    return resultado

In [55]:
calc(8, 7, 1)

15

In [57]:
calc(4,8,0)

2.0

In [63]:
from typing import Union

def calc(numero1: int, numero2: int, op: int)-> Union[int, float, None]:
    resultado = None

    if op == 1:
      resultado = numero1 + numero2
    elif op == 0:
      resultado = numero2 / numero1

    return resultado

In [64]:
calc(4, 6, 0)

1.5

In [65]:
calc(4, 6, 1)

10